[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
djangorestframework = "==3.15.0"
django-cors-headers = "==4.7.0"
djangorestframework-simplejwt = "==5.4.0"
shortuuid = "*"
phonenumbers = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.12"
